Ключевые компетенции преподавателя в цифровую эпоху
Организация проектной деятельности обучающихся в виртуальном пространстве
Проектирование индивидуальных траекторий обучения в рамках основных образовательных программ с использованием онлайн-курсов
Сопровождение онлайн-обучения лиц с ограниченными возможностями
Управление мотивацией участников онлайн-обучения в виртуальной среде
env
.idea
.vscode
reports

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/out_test_motivate.csv
/profile.csv
/result_UrFU_INCLUSIONSUP_fall_2019.csv
/result_UrFU_MODULDESIGN_fall_2019.csv
/result_UrFU_MOOC1_2019.csv
/result_UrFU_MOTIVATION_fall_2019.csv
/result_UrFU_VIRTUALSPACE_fall_2019.csv
/result.csv
