Ключевые компетенции преподавателя в цифровую эпоху
Организация проектной деятельности обучающихся в виртуальном пространстве
Проектирование индивидуальных траекторий обучения в рамках основных образовательных программ с использованием онлайн-курсов
Сопровождение онлайн-обучения лиц с ограниченными возможностями
Управление мотивацией участников онлайн-обучения в виртуальной среде
env
.idea